{% extends 'base.html' %}

{% block title %}About Us - Wiki Verifier{% endblock %}

{% block content %}
    <style>
        body {
            height: 50vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
        }
    </style>
    <h1>About Us</h1>
    <p>CrossChecker is an interactive tool that can be used to verify and fact-check the information, statements and news within Wikipedia articles. It is aimed at combating misinformation on the internet. It can also be a useful tool for students requiring factually correct information for assignments and projects, saving time on having to affirm resources.</p>

{% endblock %}